body{
  background-color: black;
  font-family: 'Inconsolata' , sans-serif;
  height: 800px;
  /*outline: 1px dotted white;*/
}


/*******************************AlgoApp Landing Page Begin*/
.parallax_window{
  width: 100%;
  height: 400px;
  text-align: center;
}

#aa_parallax_port{
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-bottom: 2px solid white;
  text-align: center;
}

#aa_parallax_port img{
  margin: 0px auto;
  /*max-width: 50%;*/
}

#code_layer_1{
  max-width: 100%;
}

#code_layer_2{
  max-width: 100%;
}

#code_layer_3{
  max-width: 100%;
}

#code_layer_4{
  max-width: 100%;
}

#code_layer_5{
  max-width: 100%;
}

#code_layer_6{
  max-width: 80%;
  position: relative;
  bottom: 75px;
}

#code_layer_7{
  max-width: 80%;
  position: relative;
  bottom: 75px;
}

.landingPageNav{
  margin: 0px;
  padding: 0px;
  width:100%;
  color: white;
  text-align: center;
}

.landingPageNavButton{
  width: 30%;
  text-align: center;
  display:inline-block;
  vertical-align: top;
  margin: 0px;
  border-bottom: 1px solid black;
}

.landingPageNavButton:hover{
  color: lime;
  border-bottom: 1px solid lime;
}

.landingPageNavButtonTitle{

}

#loginButton{
  cursor: crosshair;
}

#loginForm{

}

#registrationButton{
  cursor: crosshair;
}

#registrationForm{

}

#mainPageLink{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.sectionOne{
  font-size: 0px;
  width:100%;
  height: 260px;
  margin: 0px auto;
  text-align: center;
  padding: 0px;
  border-bottom: 2px solid white;
  overflow: hidden;
}

.sectionOneBlock{
  font-size: 15px;
  font-weight: bold;
  width: 19%;
  height: 250px;
  display: inline-block;
  /*border-bottom: 2px solid white;*/
  margin: 0px 10px;
  padding: 3px;
}

.sectionOneBlock:hover{
  background-color: white;
  /*border:1px solid white;*/
}

#sectionOneBlockA{
  color: white;
 margin: 0px;
}

#sectionOneBlockA:hover{
  color: black;
  font-weight: bold;
}

#sectionOneBlockB{
  color: crimson;
  margin: 0px;
}

#sectionOneBlockB:hover{
  color: black;
  font-weight: bold;
}

#sectionOneBlockC{
  color: lime;
  margin: 0px;
}

#sectionOneBlockC:hover{
  color: black;
  font-weight: bold;
}

#sectionOneBlockD{
  color: orange;
  margin: 0px;
}

#sectionOneBlockD:hover{
  color: black;
  font-weight: bold;
}

#sectionOneBlockE{
  color: yellow;
  margin: 0px;
}

#sectionOneBlockE:hover{
  color: black;
  font-weight: bold;
}

.formPanel{
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 255, 0.2);
  /*border-radius: 40px;*/
  color: white;
  padding: 20px;
}

.formPanel p{
  margin: 5px 0px 0px 0px;
}

.formPanel input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  margin: 0px;
}

.formPanel button{
  display: block;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  margin-top: 20px;
}

.formPanel button:hover{
  background-color: white;
  color: black;
}

.formElement{
  display: inline-block;
  margin: none;
}

#loginForm{
  background-color: rgba(176, 224, 230, 0.3);
  display: none;
}

#loginForm.is-showing{
  opacity: 1;
}

#registrationForm{
  background-color: rgba(160, 32, 240, 0.3);
  display: none;
}

#registrationorm.is-showing{
  opacity: 1;
}

/*******************************AlgoApp Landing Page END*/
/***/
/***/
/***/
/*******************************AlgoApp Main Page Begin*/

.aa_mainPageSideBar{
  width: 20%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  color: white;
  /*outline: 1px solid yellow;*/
  padding: 0px 20px 0px 0px;
  margin: 0px;
  border-right: 9px solid rgb(10, 9, 9);
  /*background: rgb(20, 15, 15);*/
  /*background: linear-gradient (rgb(20, 10, 9),rgb(0, 0, 0));*/
  /*background: linear-gradient (red, black);*/
}

.loginPageLink{
  font-size: 12px;
  text-decoration: none;
  color:white;
}

.loginPageLink:hover{
  text-decoration: none;
  color:goldenrod;
  border-bottom: 3px solid goldenrod;
}

.visitorAvatar{
  width:100%;
  height: 180px;
  background-image: url(../images/non_member.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 85% auto;
  border-bottom: 5px dotted rgb(10, 9, 9);
  /*outline: 1px solid white;*/
}

.memberAvatar{
  width:100%;
  height: 180px;
  background-image: url(../images/member_avatar.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 85% auto;
  border-bottom: 5px dotted rgb(10, 9, 9);
  /*outline: 1px solid white;*/
}

.adminAvatar{
  width:100%;
  height: 350px;
  background-image: url(../images/aa_avatar_admin_rs.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 85% auto;
  border-bottom: 5px dotted rgb(10, 9, 9);
  /*outline: 1px solid white;*/
}

.scoreTitle{
  margin:0px;
  font-size: 80px;
  font-weight: bold;
}

.scoreValue{
  color:orange;
  margin:0px;
  font-size: 80px;
  font-weight: bold;
}

.challengerTitle{
  margin:5px 0px;
  font-size: 25px;
  font-weight: bold;
}

.levelTitle{
  margin:0px;
  font-size: 45px;
  font-weight: bold;
  color:lime;
}

.aa_logo{
  width:100%;
  height: 15%;
  background-image: url(../images/aa_landing_6Brs.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-bottom: 1px solid rgb(10, 9, 9);
  /*outline: 1px solid white;*/
}

.navBar{
  /*display: inline-block;*/
  vertical-align: top;
  width: 90%;
  height: 20%;
  /*outline: 1px solid green;*/
}

.navBar a{
  text-decoration: none;
  color:white;
  font-size: 22px;
}

.navBar a:hover{
  color:Darkviolet;
  border-bottom: 4px solid Darkviolet;
}

.navLinks{
  position: relative;
  top: 85%;
  left:42%;
}

.aa_questionContainer{
  padding-top: 0%;
  padding-left: 1%;
  width: 75%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  color:white;
  /*outline: 1px solid red;*/
}

/*********************************Question Element B*/

.questionStatement{
  width:90%;
  padding-top: 4px;
  background-color: black;
  color: white;
  /*margin: 0px auto;*/
  font-size: 25px;
  /*outline: 1px solid blue;*/
}

.questionTextContainer{
  color: white;
  font-size: 0px;
  width: 100%;
  height: 250px;
  text-align: left;
  padding-top: 30px;
  padding-left:3px;
  margin:0px;
  /*outline: 1px solid lime;*/
}

.questionAttributeLabel{
  color: white;
}

.questionText{
  border-bottom: 2px solid white;
  margin-top: 30px;
  font-size: 18px;
  width: 300px;
  padding-left: 10px;
  /*outline: 1px solid white;*/
}
.algoTitle{

  margin: none;
  font-size: 20px;
  width: 50%;
  padding-left: 10px;
}

.questionText:hover{
  cursor: pointer;
}

.algo{
  padding:0px;
  margin:0px;
  width: 36%;
  display: inline-block;
  vertical-align: top;
  /*outline: 1px solid red;*/
}

.algoConsole{
  /*border-left: 2px solid white;*/
  position: relative;
  left: 10%;
  font-size: 0px;
  margin-top: 30px;
  width:50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  /*display: none;*/
  /*outline: 1px solid pink;*/
}

.algoConsoleFeatures{
  border-left: 2px solid white;
}

h2{
  color: white;
}

.consoleButton{
  font-size: 18px;
  margin:0px;
}

.consoleButton:hover{
  background-color: white
  color: black;
  border: none;
}

.answerInputField{
  margin-left: 3px;
  width:50%;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  border-left: 2px solid white;
  color:white;
  /*outline: 1px solid white;*/
}

#answerSubmitButton{
  margin-top: 10px;
  display: block;
  background: transparent;
  border-radius: 40px;
}

#answerSubmitButton:hover{
  color:black;
  background-color: white;
}

.buttonName{
  font-size: 18px;
}

.questionNfoButton{
  margin:0px;
  padding-left: 10px;
  cursor: crosshair;
  /*background-color: crimson;*/
  color: grey;
  /*display: none;*/
  border-bottom: 3px solid grey;
  /*border-top-right-radius: 30px;*/
  /*border-top-left-radius: 30px;*/
  /*margin: 0px auto;*/
}

.questionNfoButton:hover{
  color: lightgray;
  border-bottom: 3px solid lightgray;
}

.questionHintButton{
  margin:0px;
  padding-left: 10px;
  cursor: crosshair;
  /*background-color: crimson;*/
  color: crimson;
  /*display: none;*/
  border-bottom: 3px solid crimson;
  /*border-top-right-radius: 30px;*/
  /*border-top-left-radius: 30px;*/
  /*margin: 0px auto;*/
}

.questionHintButton:hover{
  color: pink;
  border-bottom: 3px solid pink;
}

.questionSolutionButtonOne{
  padding-left: 10px;
  cursor: pointer;
  /*background-color: blue;*/
  color: blue;
  border-bottom: 3px solid blue;
  /*margin: 0px auto;*/
}

.questionSolutionButtonOne:hover{
  /*background-color: crimson;*/
  color: powderblue;
  border: none;
  border-bottom: 3px solid powderblue;
}

.questionSolutionButtonTwo{
  padding-left: 10px;
  cursor: crosshair;
  /*background-color: Darkblue;*/
  color: orange;
  border-bottom: 3px solid orange;
  /*margin: 0px auto;*/
}

.questionSolutionButtonTwo:hover{
  /*background-color: crimson;*/
  color: yellow;
  /*border: none;*/
  border-bottom: 3px solid yellow;
}

.questionExplanationButton{
  padding-left: 10px;
  margin:0px;
  cursor: pointer;
  /*background-color: green;*/
  color: green;
  border-bottom: 3px solid green;
  /*border-bottom-right-radius: 30px;*/
  /*border-bottom-left-radius: 30px;*/
  /*margin: 0px auto;*/
}

.questionExplanationButton:hover{
  /*background-color: crimson;*/
  color: lime;
  border: none;
  border-bottom: 3px solid lime;
}

.questionNfo{
  margin:0px;
  display:none;
  padding-top: 5px;
  padding-left: 10px;
}

.questionHint{
  font-size: 18px;
  padding-left: 10px;
  height: 80px;
  /*background-color: pink;*/
  color: pink;
  margin: 0px;
  display: none;
}

.questionSolutionOne{
  font-size: 18px;
  padding-left: 10px;
  height: 80px;
  /*background-color: goldenrod;*/
  color: powderblue;
  margin: 0px;
  display: none;
}

.questionSolutionTwo{
  font-size: 18px;
  padding-left: 10px;
  height: 80px;
  /*background-color: goldenrod;*/
  color: yellow;
  margin: 0px;
  display: none;
  /*outline: 3px solid yellow;*/
}

.questionExplanation{
  font-size: 18px;
  padding-left: 10px;
  height: 80px;
  /*background-color: goldenrod;*/
  color: lime;
  margin: 0px;
  display: none;
  /*border-bottom-right-radius: 30px;*/
  /*border-bottom-left-radius: 30px;*/
}

.userInputSubmit{
  width:152px;
  margin:3px;
  margin-bottom: 10px;
  padding: 4px;
  font-weight: bold;
  color: white;
  background-color: black;
}

/*********************************Question Element E*/

/*******************************AlgoApp Main Page End*/
/***/
/***/
/***/
/*******************************AlgoApp Admin Page Begin*/



/*******************************AlgoApp Admin Page End*/
